In [4]:
import pandas as pd
df=pd.read_csv(r'C:\Users\bindu\Downloads\StudentsPerformance.csv')
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group C            some high school  free/reduced
1    female        group B                 high school  free/reduced
2    female        group B            some high school  free/reduced
3    female        group B                some college      standard
4    female        group C                some college  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
0                      none           0             17             10
1                      none           8             24             23
2                      none          18             32             28
3                      none          11             38             32
4                      none          22             39             33
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[1000 rows x 8 columns]

In [5]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [6]:
females=df['gender'].value_counts()['female']

In [7]:
females

518

In [9]:
males=df['gender'].value_counts()['male']
males

482

In [10]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [11]:
df2=df[df.gender=='female']
df3=df[df.gender=='male']

In [12]:
df2['math score'].mean()

63.37644787644788

In [13]:
df3['math score'].mean()

68.82157676348548

In [14]:
df2['reading score'].mean()

72.59073359073359

In [15]:
df3['reading score'].mean()

65.54564315352697

In [16]:
df2['writing score'].mean()

72.46718146718146

In [17]:
df3['writing score'].mean()

63.446058091286304

In [18]:
df2['math score'].var()

256.9585931607201

In [19]:
df3['math score'].var()

211.88909688494755

In [20]:
df2['reading score'].var()

207.6774381455231

In [21]:
df3['reading score'].var()

200.21101008445382

In [22]:
df2['writing score'].var()

220.36932705017793

In [23]:
df3['writing score'].var()

202.41392413799062

In [27]:
df['percent_rank']=df['math score'].rank(pct=True)
df['percent_rank']=df['percent_rank']*100
df=df.sort_values(by=['percent_rank'])
top_25=df.loc[df['percent_rank']>=25]
top_25

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,percent_rank
162,female,group E,high school,free/reduced,completed,57,75,73,25.65
161,female,group E,high school,free/reduced,none,57,58,57,25.65
160,female,group E,associate's degree,free/reduced,completed,57,68,73,25.65
159,female,group D,associate's degree,standard,completed,57,78,79,25.65
158,female,group D,high school,standard,completed,57,58,64,25.65
...,...,...,...,...,...,...,...,...,...
516,female,group E,bachelor's degree,standard,none,100,100,100,99.70
998,male,group E,associate's degree,free/reduced,completed,100,100,93,99.70
515,female,group E,some college,standard,none,100,92,97,99.70
517,female,group E,associate's degree,standard,none,100,100,100,99.70
999,male,group E,bachelor's degree,standard,completed,100,100,100,99.70